.info_tamu {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  margin-top: 0px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 1px;
  border-radius: 1px;
  text-align: center;
}

.spancontent {
  padding-bottom: 20px;
}

.copy-content {
  color: #6EC1E4;
  text-align: center;
}

.head-title {
  color: #6EC1E4;
  text-align: center;
}

/* Efek reveal */
.reveal {
  position: relative;
  transform: translateY(6rem) scale(0.93);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Efek revealin */
.revealin {
  position: relative;
  transform: translateZ(6rem) scale(0.93);
  opacity: 0;
  transition: 2s all ease;
}

.revealin.active {
  transform: translateZ(0);
  opacity: 1;
}